{:paths ["src/main" "resources"]

 :mvn/repos {"datomic-cloud" {:url "s3://datomic-releases-1fc2183a/maven/releases"}}

 :deps {org.clojure/clojure {:mvn/version "1.10.1-beta3"}
        com.datomic/ion     {:mvn/version "0.9.34"}}

 :aliases
 {:cljs   {:extra-deps {org.clojure/clojurescript {:mvn/version "1.10.520"}
                        rum                       {:mvn/version "0.11.3"}
                        cjsauer/factui            {:git/url "https://github.com/cjsauer/factui.git"
                                                   :sha     "5b6f72f3528a58cea1db9adeaf9e02a70708e97d"}
                        binaryage/devtools        {:mvn/version "0.9.10"}}}
  :dev    {:extra-paths ["src/dev"]
           :extra-deps  {cider/cider-nrepl   {:mvn/version "0.21.1"}
                         refactor-nrepl      {:mvn/version "2.4.0"}
                         com.datomic/ion-dev {:mvn/version "0.9.229"}}}
  :test   {:extra-paths ["src/test"]
           :extra-deps  {com.cognitect/test-runner
                         {:git/url "https://github.com/cognitect-labs/test-runner.git"
                          :sha     "209b64504cb3bd3b99ecfec7937b358a879f55c1"}}}
  :deploy {:main-opts ["-m" "warframe-lfg.deploy"]}}}
